<div id="mk1">
    <h1>Inicio de sesion</h1>
    <h3>Crea o ingresa a tu cuenta de ®Grand Chess Auto</h3>
    <div class="container2">
        <form id="login" method="POST" action="/login">
            <div class="container-box">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" ><p>Correo electronico</p></label>
                            <input class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="E-mail" required>
                            <div id="emailHelp" ><c>Nunca compartiremos tu correo con nadie</c></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label"><p>Contraseña</p></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Contraseña" required>
                            <div id="emailHelp2" ><c>Nunca compartas tu contraseña con nadie</c></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn-success-alt">Entrar</button>
            <br>
            <a href="/register" class="left">Registrate</a>
            <a href="#" class="right">Amnesia</a>
        </form>
    </div>
    <div class="c">© Burned GPU inc. 2025, todos los derechos reservados</div>
</div>
<section class="contenedor-imagen">
    <img src="/img/login/loginfoto.png" alt="tableroInicio" class="imagen-centrada2">
</section>