<div id="tablero1">
    <h1>Grand Chess Auto</h1>
</div>
<div class="wrapper">
    <div class="side-panel left-panel">
        <div id="tablero3">
            <h1>Partida</h1>
        </div>
        <section>
            <h3>Invitaciones</h3>
            <p>URL partida</p>
            <label for="url"></label><input type="url" value="grandchessauto.cl/8Hjapxm1LP9fgmnxieuje" id="url" >
            <button>copiar url</button>
            <p>URL espectar</p>
            <label for="url"></label><label for="url1"></label><input type="url" value="grandchessauto.cl/8Hjapxm1LP9fgmnxieuje" id="url1" >
            <button>copiar url</button>
            <p>Enviar invitación a jugador</p> <label><input type="url" placeholder="correo@gmail.com"> </label>
            <button>enviar</button>
        </section>
        <section>
            <h3>Unirse a jugador</h3>
            <p>URL de invitación</p>
            <label><input type="url" placeholder="grandchessauto.cl/partida" ></label>
            <button>pegar url</button>
            <p>Unirse como espectador</p> <label><input type="url" placeholder="grandchessauto.cl/espectador"></label>
            <button>pegar url</button>
        </section>
        <section>
            <h3>Opciones</h3>
            <button id= "reiniciar">REINICIAR PARTIDA</button>
            <button id = "rendirse">RENDIRSE</button>
            <button id = "empatar">EMPATAR</button>
            <a href="/home"><button>SALIR</button></a>
        </section>
    </div>

    <div class = "container">
        <div class="perfil" id="Player1">
            <div class="profile-container">
                <img src="/img/profile/anakin.jpg" class="fotoperfil" alt="Jugador 1">
                <div class="jugador-info" >
                        <span class="jugador-nombre">Forcex</span>
                        <span class="cementerio-p1" id="BandejaP1"></span>
                </div>
            </div>
        </div>

        <div class="tablero" id="tablero-ajedrez"></div>

        <div class="perfil" id="Player2">
            <div class="profile-container">
                <img src="/img/rules/donramon.jpg" class="fotoperfil" alt="Jugador 2">
                <div class="jugador-info">
                        <span class="jugador-nombre">Francisco</span>
                        <span class="cementerio-p2" id="BandejaP2"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="side-panel right-panel">
        <div id="tablero2">
            <h1>Movimientos</h1>
        </div>
        <section>
            <div class="historial-movimientos">
                <div class="columna-movimientos">
                    <h3>Blancas</h3>
                    <ul id="movimientos-blancas" class="lista-movimientos"></ul>
                </div>
                <div class="columna-movimientos">
                    <h3>Negras</h3>
                    <ul id="movimientos-negras" class="lista-movimientos"></ul>
                </div>
            </div>
        </section>
        <div style="text-align: center;"><h1>Unirse online</h1></div>
    </div>
</div>

