<div id="mk5" class ="container">
    <h1>Información de perfil</h1>
    <section><div class="perfil2">
        <div class="profile-container2">
            <img src="/img/profile/anakin.jpg" class="fotoperfil2" alt="Perfil de usuario">
            <div class="jugador-info2">
                <span class="jugador-nombre2"> Forcex</span>

            </div>
        </div>
    </div></section>
    <section>
        <h2>Nombre de usuario</h2>
        <label for="usuario"></label><input type="text" value="Forcex" id="usuario" placeholder="Nuevo nombre de usuario">
        <button type="submit" class="z">Cambiar</button>
    </section>
    <section>
        <h2>Foto de perfil</h2>
        <button type="submit" class="z">Subir foto de perfil (*.jpg *.png)</button>
    </section>
</div>